# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/

# Models (VERY IMPORTANT)
models/whisper/*
models/nllb/*
models/xtts/*

# Audio temporary files
*.wav
*.mp3
*.flac
*.ogg
*.webm
*.tmp

# FastAPI / logs
*.log

# Node (if used later)
node_modules/

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Uploads / downloads
downloads/
cache/
temp/
